In [100]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.figure_factory as ff
import streamlit as st
import plotly.express as px

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None)

In [104]:
st.title("Yearn Vault APYs")
st.markdown('The dashboard will visualize the Yearn vaults APYs from Apr\'21')
st.markdown('')
st.sidebar.title("Visualization Selector")
st.sidebar.markdown("Select the Charts/Plots accordingly:")

DeltaGenerator(_root_container=1, _provided_cursor=None, _parent=DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None), _block_type=None)

In [92]:
df = pd.read_csv('../yearn_scrapper/yearn_vaults_data.csv', index_col=0)
df.head()

,vault_name,vault_type,vault_apy,vault_total_assets
2021-04-19 04:38:37.925270,yveCRV - ETH,v1,0%,"$12,366,520"
2021-04-19 04:38:37.932958,yveCRV,v1,19.16%,$0
2021-04-19 04:38:37.937337,USDC,v2,16.48%,"$125,785,880"
2021-04-19 04:38:37.942564,crvIB,v2,30.02%,"$135,500,556"
2021-04-19 04:38:37.947768,HEGIC,v2,0.77%,"$708,539"

In [93]:
df.shape

(1566, 4)

In [94]:
df['vault_apy'].value_counts()

0.00%     116
NEW âœ¨      52
0.77%      18
5.44%      15
0%          8
         ...
26.19%      1
29.92%      1
15.00%      1
26.88%      1
26.49%      1
Name: vault_apy, Length: 1095, dtype: int64

In [95]:
def remove_pertge(x):
    x = str(x).replace('%', '')
    if '.' in x:
        return float(x)
    else:
        return 0

df.loc[:, 'vault_apy'] = df['vault_apy'].apply(lambda x: remove_pertge(x))

In [96]:
df.index.dtype

dtype('O')

In [97]:
def remove_time(x):
    return str(x).split(' ')[0]

df = df.reset_index()
df.loc[:, 'index'] = df['index'].apply(lambda x: remove_time(x))
df = df.set_index('index')
df.head()

              vault_name vault_type  vault_apy vault_total_assets
index
2021-04-19  yveCRV - ETH         v1       0.00        $12,366,520
2021-04-19        yveCRV         v1      19.16                 $0
2021-04-19          USDC         v2      16.48       $125,785,880
2021-04-19         crvIB         v2      30.02       $135,500,556
2021-04-19         HEGIC         v2       0.77           $708,539

In [99]:
df['vault_type'].value_counts()

v1    795
v2    771
Name: vault_type, dtype: int64

In [98]:
list(df['vault_name'].drop_duplicates())

['yveCRV - ETH',
 'yveCRV',
 'USDC',
 'crvIB',
 'HEGIC',
 'crvHBTC',
 'crvRENBTC',
 'DAI',
 '1INCH',
 'WETH',
 'WBTC',
 'crvSETH',
 'crvSTETH',
 'YFI',
 'crvSBTC',
 'ETH',
 'crvMUSD',
 'yCRV',
 'crvGUSD',
 'crvAAVE',
 'crvSAAVE',
 'crvDUSD',
 'crvUSDN',
 'crvCOMP',
 'crvUST',
 'crvLINK',
 '3Crv',
 'crvOBTC',
 'crvSUSD',
 'USDT',
 'crvPBTC',
 'crvEURS',
 'crvTBTC',
 'crvHUSD',
 'TUSD',
 'crvBBTC',
 'LINK',
 'crvUSDP',
 'crvBUSD',
 'crvANKR',
 'aLINK',
 'mUSD',
 'LUSD3CRV-f',
 'crvLUSD',
 'yvBOOST',
 'yvBOOST - ETH',
 'crvFRAX',
 'UNI',
 'crvYBUSD',
 'crvAETH',
 'crvTUSD',
 'sUSD',
 'SNX']

In [106]:
df = df.reset_index()
df.columns = ['Date', 'Vault Name', 'Vault Type', 'Vault Apy', 'Vault Total Assets']
df.columns

Index(['Date', 'Vault Name', 'Vault Type', 'Vault Apy', 'Vault Total Assets'], dtype='object')

In [103]:
select = st.sidebar.selectbox('V2 Vaults Name', list(df[df['Vault Type']=='v2']['Vault Name'].drop_duplicates()), key='1')
if not st.sidebar.checkbox("Hide", True, key='1'):
    
    fig = px.line(df[df['Vault Name']==select], x="Date", y="Vault Apy")
    st.plotly_chart(fig)
    st.title("Vault " + str(select) + " APY plot")
    
#      if select == 'Pie chart':
#                          st.title("Selected top 5 cities")
#                   fig = px.pie(df, values=df['Confirmed'][:5], names=df['State'][:5], title='Total Confirmed Cases')
#              st.plotly_chart(fig)

#                        if select=='Bar plot':
#         st.title("Selected Top 5 Cities")
#         fig = go.Figure(data=[
#         go.Bar(name='Confirmed', x=df['State'][:5], y=df['Confirmed'][:5]),
#         go.Bar(name='Recovered', x=df['State'][:5], y=df['Recovered'][:5]),
#         go.Bar(name='Active', x=df['State'][:5], y=df['Active'][:5])])
#         st.plotly_chart(fig)

In [ ]:
select1 = st.sidebar.selectbox('V1 Vaults Name', list(df[df['Vault Type']=='v1']['Vault Name'].drop_duplicates()), key='2')
if not st.sidebar.checkbox("Hide", True, key='2'):
    
    fig = px.line(df[df['Vault Name']==select1], x="Date", y="Vault Apy")
    st.plotly_chart(fig)
    st.title("Vault " + str(select1) + " APY plot")
    
#      if select == 'Pie chart':
#                          st.title("Selected top 5 cities")
#                   fig = px.pie(df, values=df['Confirmed'][:5], names=df['State'][:5], title='Total Confirmed Cases')
#              st.plotly_chart(fig)

#                        if select=='Bar plot':
#         st.title("Selected Top 5 Cities")
#         fig = go.Figure(data=[
#         go.Bar(name='Confirmed', x=df['State'][:5], y=df['Confirmed'][:5]),
#         go.Bar(name='Recovered', x=df['State'][:5], y=df['Recovered'][:5]),
#         go.Bar(name='Active', x=df['State'][:5], y=df['Active'][:5])])
#         st.plotly_chart(fig)

In [102]:
# # sns.set(rc={"figure.figsize": (8, 4)})
# fig, ax = plt.subplots(figsize=(15,8))
# ax = df[df['vault_name']=='yveCRV']['vault_apy'].plot(ax=ax)
# plt.xticks(rotation=90)

# print(ax.patches, ax.containers)

# # def annotate_df(row):
# # #     print(row)
# #     ax.annotate(row[0], row[3],
# #                 xytext=(10,-5), 
# #                 textcoords='offset points',
# #                 size=18, 
# #                 color='darkslategrey')
    
# # _ = df.reset_index().apply(annotate_df, axis=1)

# for row in df[df['vault_name']=='yveCRV'].iterrows():
# #     print(row[0], row[1][2])
#     ax.annotate(str(row[0]), int(row[1][2]))